### [Reading csv files in python](https://aggregation-caesar.zooniverse.org/Scripts.html#reading-csv-files-in-python)

In [1]:
import pandas
from panoptes_aggregation.csv_utils import unjson_dataframe

In [3]:
# the `data.*` columns are read in as strings instead of arrays
data = pandas.read_csv('survey_reducer_001.csv')

In [4]:
data.head()

,subject_id,workflow_id,task,reducer,data.choice,data.total_vote_count,data.choice_count,data.aggregation_version,data.answers_groupnumbers.15,data.answers_groupnumbers.610,...,data.answers_numberofindividuals.4,data.answers_canyouseeanyofthesethingsinthepictureifthereismorethanoneeagleincludealloptionsthatapplytothegroup.iseeametallegband,data.answers_canyouseeanyofthesethingsinthepictureifthereismorethanoneeagleincludealloptionsthatapplytothegroup.iseeawingtag,data.answers_numberofindividuals.10ormore,data.answers_canyouseeanyofthesethingsinthepictureifthereismorethanoneeagleincludealloptionsthatapplytothegroup.iseeacoloredlegband,data.answers_numberofindividuals.7,data.answers_numberofindividuals.5,data.answers_numberofindividuals.6,data.answers_numberofindividuals.8,data.answers_canyouseeanyofthesethingsinthepictureifthereismorethanoneeagleincludealloptionsthatapplytothegroup.iseeatransmitter
0,5515445,3101,T1,survey_reducer,blackbilledmagpie,8,8,2.0.1,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5515446,3101,T1,survey_reducer,blackbilledmagpie,2,2,2.0.1,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5515447,3101,T1,survey_reducer,coyote,5,4,2.0.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5515447,3101,T1,survey_reducer,unknownanimal,5,1,2.0.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5515448,3101,T1,survey_reducer,elk,9,5,2.0.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# use unjson_dataframe to convert them to lists
# all values are updated in place leaving null values untouched
unjson_dataframe(data)

In [6]:
data.head()

,subject_id,workflow_id,task,reducer,data.choice,data.total_vote_count,data.choice_count,data.aggregation_version,data.answers_groupnumbers.15,data.answers_groupnumbers.610,...,data.answers_numberofindividuals.4,data.answers_canyouseeanyofthesethingsinthepictureifthereismorethanoneeagleincludealloptionsthatapplytothegroup.iseeametallegband,data.answers_canyouseeanyofthesethingsinthepictureifthereismorethanoneeagleincludealloptionsthatapplytothegroup.iseeawingtag,data.answers_numberofindividuals.10ormore,data.answers_canyouseeanyofthesethingsinthepictureifthereismorethanoneeagleincludealloptionsthatapplytothegroup.iseeacoloredlegband,data.answers_numberofindividuals.7,data.answers_numberofindividuals.5,data.answers_numberofindividuals.6,data.answers_numberofindividuals.8,data.answers_canyouseeanyofthesethingsinthepictureifthereismorethanoneeagleincludealloptionsthatapplytothegroup.iseeatransmitter
0,5515445,3101,T1,survey_reducer,blackbilledmagpie,8,8,2.0.1,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5515446,3101,T1,survey_reducer,blackbilledmagpie,2,2,2.0.1,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5515447,3101,T1,survey_reducer,coyote,5,4,2.0.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5515447,3101,T1,survey_reducer,unknownanimal,5,1,2.0.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5515448,3101,T1,survey_reducer,elk,9,5,2.0.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN